section.faq
  width: 95%
  max-width: 1180px
  margin: 3em auto
  #padding: 2em 4em
  box-sizing: border-box
  background-color: $bg-pink
  border-radius: 5px
  box-shadow: 0px 0px 5em rgba(0,0,0,0.5)
  .content
    padding: 2em 4em 4em
    h2
      text-decoration: underline
    .q
      margin: 2em 0
      .question
        font-family: "Lobster", cursive
        font-size: 1.7em
        color: lighten($dark-pink, 20%)
        font-weight: bold
        margin: 0.5em 0
      .answer
        color: lighten(black, 20%)
        &:before
          content: "\00BB"
          margin: 0 1em
