section.home
  width: 95%
  max-width: 1180px
  margin: 3em auto
  #padding: 2em 4em
  box-sizing: border-box
  background-color: #fff
  border-radius: 5px
  box-shadow: 0px 0px 5em rgba(0,0,0,0.5)
  .content
    padding: 0 4em 2em
